<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.demo.test.dao.ScheduleJobMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.demo.test.vo.ScheduleJob" >
    <id column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="job_type" property="jobType" jdbcType="VARCHAR" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_group" property="jobGroup" jdbcType="VARCHAR" />
    <result column="job_status" property="jobStatus" jdbcType="VARCHAR" />
    <result column="depand_on_list" property="depandOnList" jdbcType="VARCHAR" />
    <result column="repeat_times" property="repeatTimes" jdbcType="INTEGER" />
    <result column="parent_job_id" property="parentJobId" jdbcType="INTEGER" />
    <result column="job_plan_time" property="jobPlanTime" jdbcType="TIMESTAMP" />
    <result column="job_start_time" property="jobStartTime" jdbcType="TIMESTAMP" />
    <result column="job_end_time" property="jobEndTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="bean_class" property="beanClass" jdbcType="VARCHAR" />
    <result column="is_concurrent" property="isConcurrent" jdbcType="VARCHAR" />
    <result column="spring_id" property="springId" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    job_id, task_id, job_type, job_name, job_group, job_status, depand_on_list, repeat_times, 
    parent_job_id, job_plan_time, job_start_time, job_end_time, create_time, update_time, 
    cron_expression, description, bean_class, is_concurrent, spring_id, method_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.demo.test.vo.ScheduleJob" >
    insert into job (task_id, job_type, 
      job_name, job_group, job_status, 
      depand_on_list, repeat_times, parent_job_id, 
      job_plan_time, job_start_time, job_end_time, 
      create_time, update_time, cron_expression, 
      description, bean_class, is_concurrent, 
      spring_id, method_name)
    values ( #{taskId,jdbcType=VARCHAR}, #{jobType,jdbcType=VARCHAR}, 
      #{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR}, #{jobStatus,jdbcType=VARCHAR}, 
      #{depandOnList,jdbcType=VARCHAR}, #{repeatTimes,jdbcType=INTEGER}, #{parentJobId,jdbcType=INTEGER}, 
      #{jobPlanTime,jdbcType=TIMESTAMP}, #{jobStartTime,jdbcType=TIMESTAMP}, #{jobEndTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{cronExpression,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{beanClass,jdbcType=VARCHAR}, #{isConcurrent,jdbcType=VARCHAR}, 
      #{springId,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.demo.test.vo.ScheduleJob" >
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="jobType != null" >
        job_type,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobGroup != null" >
        job_group,
      </if>
      <if test="jobStatus != null" >
        job_status,
      </if>
      <if test="depandOnList != null" >
        depand_on_list,
      </if>
      <if test="repeatTimes != null" >
        repeat_times,
      </if>
      <if test="parentJobId != null" >
        parent_job_id,
      </if>
      <if test="jobPlanTime != null" >
        job_plan_time,
      </if>
      <if test="jobStartTime != null" >
        job_start_time,
      </if>
      <if test="jobEndTime != null" >
        job_end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="cronExpression != null" >
        cron_expression,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="beanClass != null" >
        bean_class,
      </if>
      <if test="isConcurrent != null" >
        is_concurrent,
      </if>
      <if test="springId != null" >
        spring_id,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null" >
        #{jobType,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null" >
        #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="depandOnList != null" >
        #{depandOnList,jdbcType=VARCHAR},
      </if>
      <if test="repeatTimes != null" >
        #{repeatTimes,jdbcType=INTEGER},
      </if>
      <if test="parentJobId != null" >
        #{parentJobId,jdbcType=INTEGER},
      </if>
      <if test="jobPlanTime != null" >
        #{jobPlanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobStartTime != null" >
        #{jobStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobEndTime != null" >
        #{jobEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="beanClass != null" >
        #{beanClass,jdbcType=VARCHAR},
      </if>
      <if test="isConcurrent != null" >
        #{isConcurrent,jdbcType=VARCHAR},
      </if>
      <if test="springId != null" >
        #{springId,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.demo.test.vo.ScheduleJob" >
    update job
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null" >
        job_type = #{jobType,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        job_group = #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null" >
        job_status = #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="depandOnList != null" >
        depand_on_list = #{depandOnList,jdbcType=VARCHAR},
      </if>
      <if test="repeatTimes != null" >
        repeat_times = #{repeatTimes,jdbcType=INTEGER},
      </if>
      <if test="parentJobId != null" >
        parent_job_id = #{parentJobId,jdbcType=INTEGER},
      </if>
      <if test="jobPlanTime != null" >
        job_plan_time = #{jobPlanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobStartTime != null" >
        job_start_time = #{jobStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobEndTime != null" >
        job_end_time = #{jobEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cronExpression != null" >
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="beanClass != null" >
        bean_class = #{beanClass,jdbcType=VARCHAR},
      </if>
      <if test="isConcurrent != null" >
        is_concurrent = #{isConcurrent,jdbcType=VARCHAR},
      </if>
      <if test="springId != null" >
        spring_id = #{springId,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.demo.test.vo.ScheduleJob" >
    update job
    set task_id = #{taskId,jdbcType=VARCHAR},
      job_type = #{jobType,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      job_group = #{jobGroup,jdbcType=VARCHAR},
      job_status = #{jobStatus,jdbcType=VARCHAR},
      depand_on_list = #{depandOnList,jdbcType=VARCHAR},
      repeat_times = #{repeatTimes,jdbcType=INTEGER},
      parent_job_id = #{parentJobId,jdbcType=INTEGER},
      job_plan_time = #{jobPlanTime,jdbcType=TIMESTAMP},
      job_start_time = #{jobStartTime,jdbcType=TIMESTAMP},
      job_end_time = #{jobEndTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      bean_class = #{beanClass,jdbcType=VARCHAR},
      is_concurrent = #{isConcurrent,jdbcType=VARCHAR},
      spring_id = #{springId,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  
   <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from job
  </select>
</mapper>